.news-card-list__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  justify-items: center;
  margin: 64px auto;
  /* padding: 0px 104px; */
  min-height: 20vh;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .news-card-list__card-container {
    grid-template-columns: repeat(2, 1fr);
    min-height: 20vh;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .news-card-list__card-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 32px auto;
    min-height: 40vh;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .news-card-list__card-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 24px auto 15px;
    min-height: 40vh;
  }
}
