.register__login-link {
  font-family: 'Inter', Arial, sans-serif;
  height: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #2F71E5;
  padding: 0px 0px 0px 0px;
  margin: 16px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.15s linear 0s;
  }

.register__login-link:hover {
  cursor: pointer;
  color: #347EFF;
}

.register__login-link:active, .register__login-link:focus {
  cursor: pointer;
  color: #2A65CC;
  outline: none;
}
