.card__title {
  font-family: 'robotoslab', Arial, sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #1A1B22;
  display: block;
  margin: 12px 0px 0px 0px;
  height: 60px;
  /* Многострочный текст с троеточием */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
    height: 72px;
      /* Многострочный текст с троеточием */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .card__title {
    font-size: 22px;
    line-height: 26px;
    margin: 10px 0px 0px 0px;
    height: 56px;
    /* Многострочный текст с троеточием */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
