.register__container {
  position: fixed;
  top: calc(50% - 229px);
  left: calc(50% - 215px);
  width: 430px;
  /* height: 458px; */
  height: fit-content;
  background: #FFF;
  /* background: #000; */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 101;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .register__container {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 56px;

    /* width: 320px;
    height: 100%;
    left: calc(50% - 160px);
    top: 56px; */
  }
}
