.register__form-name {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  padding: 0px 0px 10px 0px;
  margin: 8px 0px 0px 0px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  outline: none;
  border: 0;
  border-bottom: 1px solid #000;
  color: #000;
  box-shadow: none;
  background-color: #FFF;
}
