@import url(./__text-header/__text-header.css);

.request-error {
  height: 374px;
  margin: 0 auto;
  padding: 0 104px;
  position: relative;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: transparent; */
  /* border: 1px solid red; */

  background-color: #F5F6F7;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .request-error {
    padding: 0 40px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .request-error {
    padding: 0 16px;
  }
}
