.infotooltip__form-login-link {
  font-family: 'Inter', Arial, sans-serif;
  height: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  padding: 0px 0px 0px 0px;
  margin: 16px 0px 0px 0px;
  text-align: center;
  }
